<!-- Footer -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 footer-col">
        <div class="footer_detail">
          <h4>About FoodShare</h4>
          <p>Connecting restaurants and NGOs to reduce food waste and fight hunger across communities.</p>
        </div>
      </div>
      <div class="col-md-6 footer-col">
        <div class="footer_contact">
          <h4>Contact Us</h4>
          <p>Email: support@foodshare.org</p>
          <p>Phone: +91 9876543210</p>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>&copy; 2025 FoodShare. All Rights Reserved.</p>
    </div>
  </div>
</footer>
