<!-- Navbar -->
 {% load static %}

<header class="header_section">
  <div class="container">
    <nav class="navbar navbar-expand-lg custom_nav-container">
<a class="navbar-brand d-flex align-items-center" href="{% url 'home' %}">
    <img src="{% static 'images/logo.svg' %}" alt="FoodShare Logo" class="navbar-logo">
    <span class="ml-2">FoodShare</span>
</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class=""></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if request.path == '/' %}active{% endif %}">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          
          {% if user.is_authenticated and user.role == "restaurant" %}
            <li class="nav-item">
              <a class="nav-link" href="/donate/">Donate Food</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'restaurant_dashboard' %}">My Dashboard</a>
            </li>
          {% elif user.is_authenticated and user.role == "ngo" %}
            <li class="nav-item">
              <a class="nav-link" href="/donations/">Available Donations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'my-claims' %}">My Claims</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ngo_dashboard' %}">NGO Dashboard</a>
            </li>
          {% endif %}

          {% if user.is_authenticated %}
            {% comment %} <li class="nav-item">
              <a class="nav-link" href="#">Welcome, {{ user.username }}</a>
            </li> {% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout/">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/signup/">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/signin/">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>
